<!-- <footer>
    <div class="container">
        <span class="text-muted">All Right Reserved 2022 @in28minutes</span>
    </div>
</footer> -->
<body>
    <div class="footer">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <p style="font-family:Arial, sans-serif;font-size: small;float: left;">Please Contact Support incase of help</p>
            <p style="font-family:Arial, sans-serif;font-size: small;margin-left: auto;">Made By Jaseem</p>
        </mat-toolbar-row>
    </mat-toolbar>
    </div>
</body>