.abc{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 593px;
}

.file-input{
    display: none;
}