<div class="container">
    <h1 style="text-align: center;">WELCOME TO THE MANAGEMENT APP</h1>
    <mat-divider></mat-divider>
    <div class="sub-container">
        <p class="select"><b>select the required Options below: </b></p>
        <br>
        <br>
        <div class="left">
            <p >Click here to view the courses: <a mat-raised-button color="primary" (click)="handleCourse()">Courses</a></p>
        </div>
        <div class="right">
            <p>Click here to view the Assignments: <a mat-raised-button color="primary" (click)="handleAssignment()">Assignments</a></p>
        </div>
    </div>
    
</div>